$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;
$color-four: #008766;
$color-five: #89c8fa;
$color-six: #003a68;
$main-bg-color: #f6f6f6;
$footer-color: #353535;
$color-grey: #7e7e7e;
