@import 'typography.scss';
@import 'keyframe.scss';

// scss du menu des pages restaurants

.menu {
  position: relative;
  margin-top: -2rem;
  background-color: $main-bg-color;
  border-top-left-radius: 1.563rem;
  border-top-right-radius: 1.563rem;
  width: 100%;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    display: flex;
    align-self: center;
    width: 74%;
  }

  &-cards {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    border-radius: 0.938rem;
    margin-bottom: 0.75rem;
    width: 85%;
    height: 2.5rem;
    background-color: white;
    box-shadow: 0rem 0.25rem 0.938rem 0rem rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 0.938rem;
    transform: translateX(0.938rem);
    animation: progresse-check 1s forwards;
    animation: slidein 1.5s ease-in;
    transform-origin: 50% right;
    &:hover > .menu-cards-check {
      width: 4.375rem;
    }

    &-check {
      display: flex;
      width: 0;
      height: 4.375rem;
      background-color: $color-tertiaire;
      border-radius: 0 0.938rem 0.938rem 0;
      color: white;
      align-items: center;
      justify-content: center;
      border: none;
      margin-left: 0.938rem;
      margin-right: -0.938rem;
      transition: all 0.7s ease-in-out;
      overflow: hidden;
    }

    @media (min-width: 1024px) {
      width: 87%;
    }

    &-body {
      width: 20%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
  &-content {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.fa-check {
  display: inline-block;
  border: 1px white solid;
  border-radius: 100%;
  background-color: white;
  color: $color-tertiaire;
  font-size: 1.5rem;
  opacity: 1;
}
