@import 'button.scss';
@import 'color.scss';
@import 'cards.scss';
@import 'typography.scss';
@import 'menu.scss';

main {
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: -8px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.9rem;

  &-main {
    display: flex;
    height: 2.25rem;
  }
}

.main-img {
  width: 100%;
  height: 17.1rem;
  object-fit: cover;
}

.section-entry {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @media (min-width: 1024px) {
    display: flex;
    align-self: center;
    width: 50%;
  }
}

.footer {
  background-color: $footer-color;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1.375rem 1.563rem;
  align-items: flex-start;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    padding-top: 2rem;
  }

  &-logo {
    width: 8.75rem;
    height: auto;
    color: white;
  }
  &-link {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    gap: 7px;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &-link-unit {
    color: white;
    text-decoration: none;
  }

  &-logo {
    filter: invert(1);
  }
}
