@import 'button.scss';
@import 'color.scss';
@import 'cards.scss';
@import 'typography.scss';
@import 'menu.scss';

//main section //
main {
  display: flex;
  flex-direction: column;

  .main-img {
    width: 100%;
    height: 17.1rem;
    object-fit: cover;
  }
}

body {
  margin: 0;
}

//header//
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.9rem;

  &-main {
    display: flex;
    height: 2.25rem;
  }
}

//section content
.section-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 0.938rem;

  @media (min-width: 1024px) {
    display: flex;
    align-self: center;
    width: 50%;
  }
}

// heart animation//
.page-heart {
  -webkit-text-stroke: 1px black;
  color: white;
  margin-top: 0.625rem;
  margin-left: 2.5rem;
  padding-top: 0.625rem;
  margin-bottom: 0.563rem;

  &:hover {
    animation: progress-heart 1000ms;
    -webkit-text-stroke: 0px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
      to bottom,
      #9356dc,
      #b35cdc,
      #cf64dc,
      #e86edb,
      #ff79da
    );
  }
}

//footer //

footer {
  background-color: $footer-color;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1.375rem 1.563rem;
  align-items: flex-start;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    padding-top: 2rem;
  }

  .footer-logo {
    width: 8.75rem;
    height: auto;
    color: white;
    filter: invert(1);
  }
  .footer-link {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    gap: 0.438rem;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }

    &-unit {
      color: white;
      text-decoration: none;
    }
  }
}
