@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.fonction-button-unit {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  width: 80%;
  height: 4.5rem;
  color: #000;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 2rem;
  padding-right: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1.688rem;
}
.fonction-button-unit:hover > .fonction-button-unit-grey {
  color: #9356dc;
}
@media (min-width: 1024px) {
  .fonction-button-unit {
    display: flex;
    width: 100%;
  }
}

.fa-mobile-screen-button {
  margin-right: 5px;
}

.fa-list {
  margin-right: 20px;
}

.fa-store {
  margin-right: 15px;
}

.title-page-button {
  display: flex;
  align-self: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1.563rem;
  background: var(--button-gradient, linear-gradient(175deg, #ff79da 0%, #9356dc 100%));
  width: -moz-fit-content;
  width: fit-content;
  height: 3.125rem;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 1.25rem;
}
.title-page-button:hover {
  filter: brightness(1.1);
  box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.25);
}

/***boutton Commander ***/
.command-button {
  display: flex;
  align-self: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1.563rem;
  background: var(--button-gradient, linear-gradient(175deg, #ff79da 0%, #9356dc 100%));
  width: -moz-fit-content;
  width: fit-content;
  height: 3.125rem;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  margin-top: 1.25rem;
}
.command-button:hover {
  filter: brightness(1.1);
  box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.25);
}

/**** Boutton retour en arrière***/
.goback {
  display: flex;
  position: absolute;
  left: 1.063rem;
  top: 1.125rem;
  font-size: 1.875rem;
  color: #000;
  text-decoration: none;
}

@keyframes slidein {
  from {
    margin-left: 30px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes progress-heart {
  0% {
    transform: scale(1);
    -webkit-background-clip: text;
  }
  50% {
    transform: scale(1.5);
    -webkit-background-clip: text;
  }
  100% {
    transform: scale(1);
    -webkit-background-clip: text;
  }
}
@keyframes progress-check {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes disappear {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes waiting-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.restaurants-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
.restaurants-cards-container {
  position: relative;
}
.restaurants-cards-new {
  display: flex;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #99e2d0;
  width: 5rem;
  height: 1.813rem;
  justify-content: center;
  align-items: center;
}
.restaurants-cards-unit {
  display: flex;
  flex-direction: column;
  border-radius: 0.938rem;
  margin-bottom: 1.125rem;
  width: 90%;
  background-color: white;
}
@media (min-width: 1024px) {
  .restaurants-cards-unit {
    width: 45%;
  }
}
.restaurants-cards-unit img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14.438rem;
  width: 100%;
  border-radius: 0.938rem 0.938rem 0rem 0rem;
}

.cards-txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards-txt-script {
  display: flex;
  flex-direction: column;
}
.cards-txt-three {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  font-size: larger;
  -webkit-text-stroke: 1px black;
  color: white;
  margin-top: 1.563rem;
  margin-right: 1.563rem;
}
.cards-txt-three:hover {
  animation: progress-heart 1000ms;
  -webkit-text-stroke: 0px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
}

.card-link {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
}

.loader-waiting {
  color: white;
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  background-color: #f6f6f6;
  height: 17.938rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-top: 2.438rem;
}
@media (min-width: 1024px) {
  .title {
    height: 15rem;
  }
}
.title-page {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-p {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.category-title {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1.25rem;
}

.fonction-button-number {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.restaurants-cards-container {
  color: #008766;
  text-align: center;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page-title {
  color: var(--black, #101010);
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.cards-txt {
  margin-left: 0.938rem;
  margin-bottom: 0.75rem;
}
.cards-txt-p {
  color: #000;
  font-family: Roboto;
  font-size: 1.063rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.cards-txt-title {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 5px;
}

.a {
  text-decoration: none;
}

.menu-title {
  display: flex;
  color: #000;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 7.5%;
  border-bottom: #99e2d0 2px solid;
  width: 2.5rem;
  height: 1.688rem;
}
.menu-cards-title {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-cards-p {
  font-family: Roboto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}
.menu-cards-price {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fat-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.thin-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@keyframes slidein {
  from {
    margin-left: 30px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes progress-heart {
  0% {
    transform: scale(1);
    -webkit-background-clip: text;
  }
  50% {
    transform: scale(1.5);
    -webkit-background-clip: text;
  }
  100% {
    transform: scale(1);
    -webkit-background-clip: text;
  }
}
@keyframes progress-check {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes disappear {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes waiting-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  z-index: 4;
  animation: disappear 1s forwards;
  animation-delay: 3s;
}
.loader-waiting {
  animation: waiting-blink 1.5s ease-in-out infinite;
}
.loader-spin {
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.938rem;
}
@media (min-width: 1024px) {
  .logo {
    height: 4rem;
  }
}
.logo-main {
  display: flex;
  height: 2.25rem;
}
@media (min-width: 1024px) {
  .logo-main {
    height: 1.875rem;
  }
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 3.125rem;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  gap: 1.063rem;
}
.location .search {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  background: none;
  font-family: Roboto, sans-serif;
}

.fa-location-dot {
  color: black;
}

.fonction {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.25rem;
  padding-top: 3rem;
}
@media (min-width: 1024px) {
  .fonction {
    margin-left: 11rem;
    margin-right: 11rem;
  }
}
.fonction-button {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .fonction-button {
    display: flex;
    flex-direction: row;
  }
}
.fonction-button-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.fonction-button-number {
  display: flex;
  position: relative;
  border-radius: 100%;
  background-color: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  left: 0.7rem;
  top: 1.5rem;
}
@media (min-width: 1024px) {
  .fonction-button-number {
    width: 2rem;
  }
}
.fonction-button-unit-grey {
  color: #7e7e7e;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 4.25rem;
  padding-top: 3rem;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 11rem;
    padding-right: 11rem;
    display: flex;
    flex-wrap: wrap;
  }
}

footer {
  background-color: #353535;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1.375rem 1.563rem;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    padding-top: 2rem;
  }
}
footer .footer-logo {
  width: 8.75rem;
  height: auto;
  color: white;
  filter: invert(1);
}
footer .footer-link {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  gap: 0.438rem;
}
@media (min-width: 1024px) {
  footer .footer-link {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}
footer .footer-link-unit {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */