@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.loader-waiting {
  color: white;
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  background-color: #f6f6f6;
  height: 17.938rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-top: 2.438rem;
}
@media (min-width: 1024px) {
  .title {
    height: 15rem;
  }
}
.title-page {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-p {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.category-title {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1.25rem;
}

.fonction-button-number {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.restaurants-cards-container {
  color: #008766;
  text-align: center;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page-title {
  color: var(--black, #101010);
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.cards-txt {
  margin-left: 0.938rem;
  margin-bottom: 0.75rem;
}
.cards-txt-p {
  color: #000;
  font-family: Roboto;
  font-size: 1.063rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.cards-txt-title {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 5px;
}

.a {
  text-decoration: none;
}

.menu-title {
  display: flex;
  color: #000;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 6.5%;
  border-bottom: #99e2d0 2px solid;
  width: 2.5rem;
  height: 1.688rem;
}
@media (min-width: 1024px) {
  .menu-title {
    margin-left: 5.5%;
  }
}
.menu-cards-title {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-cards-p {
  font-family: Roboto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-cards-price {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@keyframes slidein {
  from {
    margin-left: 30px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes progress-heart {
  0% {
    transform: scale(1);
    -webkit-background-clip: text;
  }
  50% {
    transform: scale(1.5);
    -webkit-background-clip: text;
  }
  100% {
    transform: scale(1);
    -webkit-background-clip: text;
  }
}
@keyframes progress-check {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes disappear {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes waiting-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  position: relative;
  margin-top: -2rem;
  background-color: #f6f6f6;
  border-top-left-radius: 1.563rem;
  border-top-right-radius: 1.563rem;
  width: 100%;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
    align-self: center;
    width: 74%;
  }
}
.menu-cards {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  border-radius: 0.938rem;
  margin-bottom: 0.75rem;
  width: 85%;
  height: 2.5rem;
  background-color: white;
  box-shadow: 0rem 0.25rem 0.938rem 0rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 0.938rem;
  transform: translateX(0.938rem);
  animation: progresse-check 1s forwards;
  animation: slidein 1.5s ease-in;
  transform-origin: 50% right;
}
.menu-cards:hover > .menu-cards-check {
  width: 4.375rem;
}
.menu-cards-check {
  display: flex;
  width: 0;
  height: 4.375rem;
  background-color: #99e2d0;
  border-radius: 0 0.938rem 0.938rem 0;
  color: white;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 0.938rem;
  margin-right: -0.938rem;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .menu-cards {
    width: 88%;
  }
}
.menu-cards-body {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu-content {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.fa-check {
  display: inline-block;
  border: 1px white solid;
  border-radius: 100%;
  background-color: white;
  color: #99e2d0;
  font-size: 1.5rem;
  opacity: 1;
}/*# sourceMappingURL=menu.css.map */