@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.title {
  display: flex;
  background-color: #f6f6f6;
  height: 17.938rem;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-top: 2.438rem;
}
@media (min-width: 1024px) {
  .title {
    height: 15rem;
  }
}
.title-page {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-p {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.category-title {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1.25rem;
}

.cards-txt {
  margin-left: 0.938rem;
  margin-bottom: 0.75rem;
}
.cards-txt-p {
  color: #000;
  font-family: Roboto;
  font-size: 1.063rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 5px;
}
.cards-txt-title {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 5px;
}

.a {
  text-decoration: none;
}

.fonction-button-number {
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.restaurants-cards-container {
  color: #008766;
  text-align: center;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page-title {
  color: var(--black, #101010);
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.menu-title {
  display: flex;
  color: #000;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: -25.5%;
  border-bottom: #99e2d0 2px solid;
  width: 2.5rem;
  height: 1.688rem;
}
.menu-cards-title {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -10px;
}
.menu-cards-p {
  font-family: Roboto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.menu-cards-price {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@keyframes slidein {
  from {
    margin-left: 30px;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}
@keyframes progress-heart {
  0% {
    transform: scaleX(0) scaleY(1);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18) scaleY(1.1);
  }
  24% {
    transform: scaleX(0.4) scaleY(1.2);
  }
  46% {
    transform: scaleX(0.81) scaleY(1.3 0.5);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1) scaleY(1.5);
  }
}
@keyframes slideup {
  from {
    margin-bottom: 1000px;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-bottom: 0%;
    width: 100%;
    opacity: 1;
  }
}
.menu {
  position: relative;
  margin-top: -2rem;
  background-color: #f6f6f6;
  border-top-left-radius: 1.563rem;
  border-top-right-radius: 1.563rem;
  width: 100%;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .menu {
    display: flex;
    align-self: center;
    width: 74%;
  }
}
.menu-cards {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 0.938rem;
  margin-bottom: 0.75rem;
  width: 90%;
  height: 2.5rem;
  background-color: white;
  box-shadow: 0px 4px 15.1px 0px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 0.938rem;
  animation: slidein 3s ease-in;
  transform-origin: 50% right;
}
@media (min-width: 1024px) {
  .menu-cards {
    width: 150%;
  }
}
.menu-cards-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.menu-cards-price {
  position: absolute;
  bottom: 0.813rem;
  right: 0.938rem;
}
.menu-cards-unit {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.menu-entry {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.fa-check {
  display: inline-block;
  border: 1px white solid;
  border-radius: 100%;
  background-color: white;
  color: #99e2d0;
  font-size: 1.5rem;
}

.menu-cards:hover > .menu-cards-check {
  transform: scale(2);
}
.menu-cards .menu-cards-check {
  display: flex;
  width: 5rem;
  margin-top: 3.9px;
  position: absolute;
  right: 0%;
  background-color: #99e2d0;
  border-radius: 0 0.938rem 0.938rem 0;
  height: -webkit-fill-available;
  color: white;
  align-items: center;
  justify-content: center;
  border: none;
  transform: scale(1);
}/*# sourceMappingURL=menu.css.map */